@import "./color.scss";

button {
  border: $main-color 1px solid;
  color: white;
  background-color: #2cb1ba;
  font-family: "MaisonNeue";
  padding: 10px;
  border-radius: 5px;
  min-width: 115px;
  box-sizing: border-box;
  font-size: 12px;
  margin-left: 20px;

  &.thin {
    background-color: white;
    color: $main-color;
  }
}
